.image-container{
    position: relative;
    
    margin-top: 0px;
    margin-left: 0px;
    width: 1745px;
}

.image-container img{
    width: 100%;
    

}

.text{
    position: absolute;
    top: 216px;
    left: 1245px;
    transform: translate(-50%, -50%);
    color: #151414;
    text-align: left;
    margin-top: 216px;
    

}

.head{
    font-size: 65px;
    font-weight: 700;
    line-height: 58px;
    margin-bottom: 20px;
    
    text-overflow: clip;
}

.para{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
}

.Contact{
    background-color: #FF7A00;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;

}

#failure {
    margin-top: 131px  ;
    margin-left: 206px;
    width: 1745px;
}

.previous{
    display: flex;
    
}

.lady{
    background-color: #F15B22;
    border-radius: ;
}

.my{
    margin-left: 87px;
    margin-top: 240px;
    text-align: justify;
    margin-right: 350px;
    
}

.my h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px ;
}

.my p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px ;
    margin-right: 322px ;
    
}

.my ul{
    text-decoration: url('images/icons/check-icon.png');
}


#my-plan{
    margin: 130px  230px;
    
    width: 1745px;
}

#my-plan .plan{
    font-size: 40px;
    color: #151414 ;
    text-align: center;


}

.icon{
    display: flex;
    
    gap: 200px;
    
    
}

.icon img{
    align-items: center;
}

.icon h4{
    font-size: 30px;
    text-align: center;
}

.icon p{
    font-size: 25px;
    color: #737272;
    text-align: center;
}



.img-box{
    position: relative;
    width: 1140px 300px ;
    margin-left: 230px;
}

.img-box img{
    width: 1140px 300px;
}



.img1{
    position: relative;
    width: 1140px 300px;


}

.img2{
    position: absolute;
    top: 0px ;
    left: 0px;
    width: 1140px 300px;
    
}


footer{
    background-color: #151414;
    color: azure;
    width: 1745px;
    margin-top: 130px;
}

.footer{
    
    display: flex;
    justify-content: space-between;
    margin: 0;
    
}

.write{
    margin-top: 130px ;
    margin-left: 230px;
    margin-bottom: 130px;
    margin-right: 550px;
}

.write h3{
    font-size: 45px;
    margin-bottom: 6px;
}

.submit{
    margin-top: 130px;
    margin-right: 230px;

}

.submit .h3{
    font-size: 25px; 
    margin-bottom: 30px;
}

input{
    margin-bottom: 10px;
    background-color: #151414;
    color: aliceblue;
    padding: 22px 158px 22px 22px    ;
}

input::placeholder{
    color: #fffefe;
    font-size: 18px;
    

button{
    background-color: #f5f4f3;
    border: none;
    color: #F15B22;
    padding: 20px 36px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 170px;

}

